.App {
    font-family: sans-serif;
    background: white;
    color: dodgerblue;
    height: 100vh;
    box-sizing: border-box;
    width:800px;
    margin:60px auto auto auto;
  box-shadow: 4px 4px 7px 2px rgba(0,0,0,0.4);

  }
  
  .react-tabs {
    display: flex;
    /* margin-left: 36px; */
    width: fit-screen;
    height: 100%;
    border: 1px solid #3c3e43;
    color: black;
    background: white;
  }
  
  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 170px;
    margin: 0;
    padding: 0;
    color: white;
    background: dodgerblue;
  }
  
  .react-tabs__tab {
    height: 70px;
    list-style: none;
    padding: 12px 6px;
    cursor: pointer;
    color: white;
  }
  
  .react-tabs__tab--selected {
    background: white;
    border-color: #1c1d1f;
    border-left: 4px solid black;
    color: black;
  }
  
  .react-tabs__tab-panel {
    display: none;
    width: 100%;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  
  .react-tabs__tab {
    padding-left: 24px;
  }
  
  .react-tabs__tab--selected {
    padding-left: 21px;
  }
  
  .panel-content {
    text-align: center;
  }
  