/* .container {
	max-width: 640px;
	margin: 30px auto;
	background: #fff;
	border-radius: 8px;
	padding: 20px;
} */
.container textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 50%;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}
.querydate{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    }
    
  .querydrop  .fa-ellipsis-h:before, .fa-ellipsis:before {
        content: "\f141";
        margin-top: 100px;
        margin-left: 78px;
    }
.querydate h5{
    margin:20px 0px 20px 300px;
    color:black;
    font-style: italic;
    font-size:15px;

}
.querydetail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:space-between;
}
.suggested_disc{
    margin-top:80px;
    margin-left:100px
}
@media screen and (min-width: 780px) and (max-width:1200px) {
    .querydetail{
        display: flex;
        flex-direction: row;
        justify-content: center;
    align-items:flex-start;
    margin:auto;
    }
    .suggested_disc{
        margin-top:80px;
        margin:auto;
    }
}
@media screen and (min-width: 530px) and (max-width:780px) {
    .querydate h5{
        margin:20px 0px 20px 200px;
        color:black;
        font-style: italic;
        font-size:15px;
    
    }   
    .querydetail{
        display: flex;
        flex-direction: column;
    }
    .suggested_disc{
        margin-top:80px;
        margin-left:10px;
    }
}

@media screen and (max-width: 570px) {
    
.querydate h5{
    margin:20px 0px 20px 50px;
    color:black;
    font-style: italic;
    font-size:15px;

}
.querydetail{
    display: flex;
    flex-direction: column;
}
.suggested_disc{
    margin-top:80px;
    margin-left:10px;
}
}
button.primaryContained {
	background: #016ba8;
	color: #fff;
	padding: 10px 10px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 4px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
	border-radius: 5px;
}
button.primaryContained:hover {
	background: #9201A8;
}
.comments{

	border-radius:40px;
}
@media screen and (max-width: 768px) {
	.comments{
		width:100%;
		border-radius:40px;
	}
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.85);
    background-color: #f9f9f9;

}
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.bottomright {
    position: absolute;
    /* bottom: 1px; */
    /* right: 16px; */
    font-size: 18px;
    /* left: 300px; */
    font-size: 18px;
    top: 700px;
    /* width: 500px; */
  }
  

.comment-thread {
    width: 750px;
    /* max-width: 100%; */
	padding:20px;
    height:400px;
    overflow-y: scroll;
    /* border-radius: 50px; */
    margin-top:20px;
    /* padding: 0 30px; */
    background-color: white ;
	
    border: 1px solid black; /* Removes margin collapse */
}

.comment-thread ::-webkit-scrollbar {
    display: none;
}
.m-0 {
    margin: 0;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Comment */

.comment {
    position: relative;
    margin: 20px auto;
}
.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}
.comment-voting {
    width: 20px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.comment-voting button {
    display: block;
    width: 100%;
    height: 50%;
    padding: 0;
    border: 0;
    font-size: 10px;
}
.comment-info {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}
.comment-author {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    text-decoration: none;
}
.comment-author:hover {
    text-decoration: underline;
}
.replies {
    margin-left: 20px;
}



.popcomment {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(95, 91, 91, 0.801);
    
  
  }
  
   
  .popcomment i {
    position: fixed;
    top: 100px;
    right: 200px;
    color: white;
    font-size: 2rem;
  }